{{ define "content" }}
<div id="car-div" class="main-content">

    <h2 id="content-header">{{.DataPerID.MakeModel}} {{.DataPerID.Year}} </h2>

    <img src="{{.DataPerID.ImgSrc}}" alt="Picture of a car" height="35%">

    <h3 id="content-header">{{.Category.Name}}</h3>

    <ul id="specifications">
        <h2>Specifications</h2>
        <h3>Engine: {{.DataPerID.TechnicalDetails.Engine}}</h3>
        <h3>Horsepower: {{.DataPerID.TechnicalDetails.Horsepower}}</h3>
        <h3>Transmission: {{.DataPerID.TechnicalDetails.Transmission}}</h3>
        <h3>Drivetrain: {{.DataPerID.TechnicalDetails.Drivetrain}}</h3>
    </ul>

    <ul id="about-manufacturer">
        <h2>About {{.ManufactDetails.Name}}</h2>
        <h3>{{.ManufactDetails.Name}} was founded in {{.ManufactDetails.CountryOfOrigin}} in
            {{.ManufactDetails.FoundingYear}}</h3>
    </ul>

</div>
{{end}}